name: Lint SDKs
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint-python:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1

      - name: Lint Python source
        working-directory: flipt-python
        run: |
          poetry install
          make lint

  lint-typescript:
    name: Lint TypeScript
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Lint TypesSript source
        working-directory: flipt-node
        run: |
          npm ci
          npm run lint

  lint-rust:
    name: Lint Rust
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6

      - name: Install Rust
        run: rustup update stable

      - name: Check Formatting
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --all -- -D warnings

  lint-java:
    name: Lint Java
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6

      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Lint Java code
        working-directory: flipt-java
        run: ./gradlew spotlessCheck
